body {
  margin: 0;
  /* display: flex; */
  /* place-items: center; */
  min-width: 320px;
  min-height: 100vh;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  /* width: 100%; */
  /* padding: 2rem; */
  /* text-align: center; */
}

.card {
  padding: 2em;
}

.container {
  display: flex;
  max-width: 1280px;
  margin: 0 auto;
  border-top: solid #2F4858 1px;
}

.flex-column {
  border-right:solid #2F4858 1px;
  /* position: fixed;
  top: 0;
  left: 0; */
}

.postForm {
  display:flex;
  flex-flow: column;
  margin: 20px auto;
  text-align: center;
}

.container .postButton {
  border-radius: 30px;
  background-color: #00acee;
}

.container .nav-link {
  color: black;
}

.container svg {
  margin-right: 20px;
}

.tweets {
  margin-top: 20px;
}

.pagination {
  margin-top: 20px;
}